.inputBox{
    border-radius: 5px;
    background: rgb(244, 244, 244);
    padding: 20px;
    width: 325px;
    height: 60px;
    box-sizing: border-box;
}


.authContainer{
    padding: 20px;
    width: 300px;
    margin: 0px auto;
}

.inputBox input{
    background-color: transparent;
}

.inputBox input:focus{
    border: 0;
}

.authForm{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}


.loginTitle, .registerTitle{
    color: rgb(48, 48, 48);
font-family: Poppins;
font-size: 22px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
margin-left: 50px;
margin: 25px;
}

.btnSubmit{
    border-radius: 8px;
    background: rgb(98, 205, 250);
width: 325px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12;
padding: 14px 12px 14px 12px;
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: -1%;
text-align: center;
}

.btnSubmit:active{
    scale: 0.9;
}

.textBtn{
    color: rgb(15, 128, 253);
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: underline;
}

